language: python
python:
  - "3.6"
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_install:
  - wget "http://chromedriver.storage.googleapis.com/2.35/chromedriver_linux64.zip"
  - unzip chromedriver_linux64.zip
  - sudo mv chromedriver /usr/local/bin
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
install:
  - pip install -r api/requirements.txt
  - (cd frontend && yarn install)
script:
  - (cd frontend && yarn test)
  - (cd api && pybot test.robot)
notifications:
  email:
  - stollenwerk@kitconcept.com
